################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Aris.ServerTest/bin/Debug/netcoreapp2.1
/Aris.ServerTest/obj
/2019-09-16-bd28f1e-interview-test.zip
**/bin
**/obj
/2020-11-09-f85b62b-interview-test.zip
/PracticalDeveloperTest2021.pdf
